
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Acceuil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mon Compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mes Commandes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Aide et Contacte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Déconnection</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <table>
      <tr><td><img src="../../assets/panier.jpg"  class="form-control mr-sm-2" ></td><td><button class="btn btn-outline-success my-2 my-sm-0" type="submit">panier</button></td></tr>
      
      </table>
    </form>
  </div>
</nav>