<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Acceuil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Besoin d'aide</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Déconnection</a>
        </li>
      </ul>
     
    </div>
  </nav>
