<app-admin-navbar>
</app-admin-navbar>
<br>
<br>
<br>
<div class="btn-group-vertical">
    <button type="button" class="btn btn-secondary">Articles</button>
    <br>
    <button type="button" class="btn btn-secondary">Fournisseurs</button>
    <br>
    <button type="button" class="btn btn-secondary">Catégories</button>
    <br>
    <button type="button" class="btn btn-secondary">Utilisateurs</button>
    <br>
    <button type="button" class="btn btn-secondary">Marques</button>
    <br>
    <button type="button" class="btn btn-secondary">Boutiques</button>
    <br>
    <button type="button" class="btn btn-secondary">Etat  Commande</button>
    <br>
    <button type="button" class="btn btn-secondary">Propriétés</button>
    <br>
    <button type="button" class="btn btn-secondary">Mode de Livraison</button>
    <br>
    <button type="button" class="btn btn-secondary"> Privilège </button>
    <br>
    <button type="button" class="btn btn-secondary"> Villes</button>

  
  
  </div>