.content2{
    background-color: #3b3631 ;
    background-size: 100%;
    margin-left: 15%;
    margin-right:15% ;
    margin-bottom: 0%;
    margin-top: 0%;

    background-repeat: no-repeat;
    background-position: 10%;
    border-color: black;
}
h1{
    color:  #0d2942;
}